body {
  font-family: "Catamaran", sans-serif;
  background-color: white;
  background: url(../images/TST.JPEG) no-repeat center center fixed;
  background-size: cover;
}
.main {
  font-size: 60px;
  color: white;
}

.icon {
  float: left;
  width: 200px;
  padding: 10px;
}

.topnav a {
  text-align: center;
  overflow: hidden;
  font-family: "Catamaran", sans-serif;
  text-decoration: none;
  color: black;
  display: block;
  padding: 40px;
  font-size: 25px;
}

.topnav ul {
  list-style: none;
  text-align: center;
}

.topnav li {
  display: inline-block;
}

.topnav a:hover {
  background-color: #cccccc;
  transition: 0.2s;
  display: block;
}

.topnav a:active {
  color: white;
}
#topnav ul {
  display: inline;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  max-width: 300px;
  margin: auto;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card a {
  text-decoration: none;
  font-size: 22px;
  color: black;
  padding: 10px;
}

.card a:hover {
  opacity: 0.7;
}
