body {
  font-family: garamond;
  background-size: cover;
  background: linear-gradient(
    -30deg,
    #0f5364 0%,
    #280644 50%,
    #262626 50%,
    #607d8b 100%
  );
}
.main {
  font-size: 60px;
}
.introduction {
  display: block;
  padding: 45px;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.introduction_kr {
  display: block;
  padding: 45px;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  font-family: Noto Serif KR;
  word-break: keep-all;
}
.sign {
  text-align: right;
}
