body {
  background-color: #232f34;
}

p,
h1,
h2,
h3 {
  color: #b3c5cd;
}

.box {
  height: 500px;
  background-color: black;
}

.logo {
  font-family: Georgia, "Times New Roman", Times, serif;
  float: left;
}

.topnav {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  overflow: hidden;
  display: block;
  font-size: 15px;
}

.topnav a,
.logo a {
  text-decoration: none;
  padding-right: 60px;
}

.topnav a:visited,
.logo a:visited {
  color: #b3c5cd;
}
.topnav ul {
  list-style: none;
  text-align: center;
}

.topnav li {
  display: inline-block;
}

#topnav ul {
  display: inline;
}
