body {
  font-family: Georgia, "Times New Roman", Times, serif;
  background: url("../images/masked_bkg.png");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: right;
}
.maintext {
  font-size: 30px;
  padding-left: 50px;
  color: black;
  padding-top: 100px;
}
