body {
  font-family: "Catamaran", sans-serif;
  background-color: white;
  background: url(../images/TST.JPEG) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.main {
  font-size: 60px;
  color: white;
}
