body {
  font-family: garamond;
  background: url("../images/masked_bkg.png");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: right;
  padding-top: 300px;
}
.maintext {
  font-size: 30px;
  padding-left: 50px;
  color: black;
}
